# Python cache dosyaları
__pycache__/
*.pyc
*.pyo

# Sanal ortam klasörleri
.venv/
env/
venv/

# Yerel veritabanı ve instance klasörü
*.db
instance/
.env

# IDE klasörleri
.vscode/
.idea/

# Çıktılar (raporlar, pdf, excel vs)
*.xlsx
*.pdf
